<!doctype html>
<html lang='fr'>
<head>
  <meta charset='utf-8'>
  <title>Facture Footer</title>
  <!-- <link rel='stylesheet' href="C:/ProjectsDev/evidence/api/src/Facturi.Web.Host/wwwroot/arial-webfont/style.css"> -->
  <style type='text/css'>
    @font-face {
    font-family: 'ArialLight';
    font-style: normal;
    font-weight: 300;
    src: url('C:/ProjectsDev/evidence/api/src/Facturi.Web.Host/wwwroot/arial-webfont/ARIALLGT_footer.woff') format('woff');
    }
    .footer-container{width:82%;margin:auto; border-top:solid 1px #c9c9c9;}
    p{text-align:center;font-family:"ArialLight", sans-serif;font-size: 22px;font-weight:300;margin-bottom: 0px;}
    .spacer{height:20px;}
    .small-spacer{height:14px;}
  </style>
</head>
<body>
    <div class="small-spacer"></div>
    <div class="footer-container">
        <div class="small-spacer"></div>
        <p class="message">FOOTER DES ANOOTATIONS PAR DEFAUT ECRASE PAR UN NOUVEAU FOOTER QUI VA ETRE ROGNE A 150 CARACTERES - ICE : 46546465465465 - TP:45612345 - IF:</p>
        <div class="spacer"></div>
    </div>
</body>
</html>